.skills__container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    column-gap: 3rem;
    justify-content: center;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 0.25rem;
}

.skills__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
    color: var(--title-color);
    text-transform: uppercase;
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.skills__group {
    display: grid;
    align-items: center;
    row-gap: 1.5rem;
    grid-template-rows: repeat(4, auto);
}

.skills__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.05rem;
}

.skills .bx {
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.6);
    transition: transform 2s cubic-bezier(0.5, 1.8, 0.55, 1), color 1.5s cubic-bezier(0.25, 0.8, 0.25, 1); /* Smooth and slower transition */
}

.skills .bx:hover {
    transform: rotateY(360deg); /* Rotate horizontally around the center */
    color: darkviolet;
}

.skills__name {
    display: none;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
    text-align: center;
}

.skills__level {
    font-size: var(--tiny-font-size);
    text-align: center;
    padding: 12px;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .skills__container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .skills__container {
        grid-template-columns: 1fr, 250px;
    }

    .skills__content {
        padding: 1.5rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .skills__box {
        column-gap: 1.25rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }
}