.home__container {
    row-gap: 7rem;
}

.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
    background-color: var(--body-color);
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 2rem;
    color: var(--title-color);
}

.home__social-icon:hover {
    color: var(--title-color-dark);
}

.home__title {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    /*font-style: italic;*/
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
    overflow: hidden;
    white-space: nowrap;
    /*border-right: 2px solid var(--title-color);*/
    animation: typewriter 2s steps(1000) infinite, /* typing */
    blink-caret 1s infinite; /* flashing */

}

.home__hand {
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-family: "Caveat", cursive; 
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.home__subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1.5px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.home__description {
    max-width: 380px;
    margin-bottom: var(--mb-3);
    text-transform: uppercase;
}

.home__img {
    background: url(../../assets//about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
    order: 1;
    justify-self: center;
    width: 350px;
    height: 350px;
    animation: profile__animate 6s ease-in-out infinite 1s;
}

.buttons-container {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.buttons-container .button--flex {
    transition: background-color 0.3s, color 0.3s;
    padding: 15px 20px;
}

.buttons-container .button--flex:hover {
    background-color: purple;
    color: white;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__scroll {
    margin-left: 9.25rem;
}

.wheel {
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}

.home__scroll-name {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color);
}

@keyframes typewriter {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: var(--title-color);
    }
  }

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home__subtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }

    .home__subtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    .home__description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__img {
        width: 300px;
        height: 300px;
        box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.3);
    }

    .home__scroll {
        margin-left: 7.5rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home__img {
        order: initial;
        justify-self: initial;
    }

    .home__data {
        grid-column: 1/3;
    }

    .home__img {
        box-shadow: inset 0 0 0 6px rgba(255, 255, 255, 0.3);
        width: 260px;
        height: 260px;
    }

    .home__scroll {
        display: none;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .home__img {
        width: 260px;
        height: 260px;
    }
}